<%- include partials/main_nav.ejs %>
    <%- include partials/header.ejs %>

        <div class="container">
            <div class="container-fluid">
                <h1>
                    <%= message %>
                </h1>
                <h2>
                    <%= error.status %>
                </h2>
            </div>
        </div>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>